*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

a {
  word-wrap: break-word;
}

.background-1 {
  background-color: rgb(236, 236, 236); 
}
.no-display{
  display: none;
}

/* Header */
.container-fluid .navbar-brand{
  font-size: 1.5em; 
}
#navbarNav .nav-link{
  font-size: 1.3em;
}

/* Main */
.main-title{
  text-align: center;
  font-size: 2em;
  padding: 20px;
  color: #000000;
}

/* Index */
.index-title {
  text-align: center;
  font-size: 2.5em;
  padding: 15px;
}

.index-page {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sphere-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.sphere {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #9d32f5, #6a00ff)
}

/* Distribute 5 planets around the sphere */
.planet:nth-child(1) {
  transform: translate(0, -180px);
}

.planet:nth-child(2) {
  transform: translate(171px, -55px);
}

.planet:nth-child(3) {
  transform: translate(105px, 145px);
}

.planet:nth-child(4) {
  transform: translate(-105px, 145px);
}

.planet:nth-child(5) {
  transform: translate(-171px, -55px);
}

.planet:hover {
  /* transform: scale(1.2); Causes planets to go nuts*/ 
}

.planet-random {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s;
  color: white;
  user-select: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  background: linear-gradient(315deg, #2c81ff 30%, #1b5fc7 70%);
}

.planet-random .arrow {
  font-size: 2em;
  display: block;
  margin-bottom: -15px;
}

.planet-random:hover {
  transform: scale(1.2);
}

@media (max-width: 500px) {
  .planet {
    width: 75px;
    height: 75px; 
  }
  
  .planet:nth-child(1) {
    transform: translate(0, -140px);
  }

  .planet:nth-child(2) {
    transform: translate(135px, -40px);
  }

  .planet:nth-child(3) {
    transform: translate(85px, 115px);
  }

  .planet:nth-child(4) {
    transform: translate(-85px, 115px);
  }

  .planet:nth-child(5) {
    transform: translate(-135px, -40px);
  }

  .planet-random:hover {
    transform: scale(1);
  }

}

/* Projects */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  max-width: 1200px;
  margin: auto;
}

.specific-project-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #f8f9fa;
}

.project-link {
  font-size: 1rem;
  margin-bottom: 5px;
}

.project-link .link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.project-link .link:hover {
  text-decoration: underline;
}

.card-body {
  background-color: #ffffff;
  margin-left: 10px;
}

.specific-project-container:not(:last-child) {
  margin-bottom: 30px;
}


/* Contact */
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.specific-contact-container {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.specific-contact-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #343a40;
}

.specific-contact-container p {
  font-size: 1rem;
  margin: 0;
  color: #6c757d;
}

.specific-contact-container a {
  font-size: 1rem;
  margin: 0;
  color: #6c757d;
}

/* Shows */
.showlist-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

#showcategory-title{
  padding: 35px;
}

.arrow-button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s;
  margin: 0 10px;
}

.arrow-button:hover {
  transform: scale(1.05);
}

#showlist-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1600px;
  margin: auto;
}

.showlist-description {
  text-align: center;
  font-size: 1.25rem; 
  margin-bottom: 15px;
}

/* Writing */
#writing-container {
  max-width: 1600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

#writing-title {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

#writing-content {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 15px 0;
  text-indent: 2em;
  margin-bottom: 1em;
}

#writing-author-notes {
  font-style: italic;
  color: #555;
  margin-top: 20px;
}


/* About */
.about-page {
  max-width: 1600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 20%;
  border: 3px solid #ccc;
  transition: transform 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 28px;
  color: #222;
  margin-top: 10px;
}

.about-text {
  margin: 20px 0;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10%;
}

.about-text span#about-age {
  font-weight: bold;
  color: #e63946;
}

.additional-info {
  margin-top: 30px;
}

.additional-info h3 {
  font-size: 24px;
  margin-bottom: 15px;
}